@import "./blocks/header";
@import "./blocks/main_section";
@import "./blocks/main_container";
@import "./blocks/main_filter";
@import "./blocks/main_card";
@import "./blocks/main_article";
@import "./blocks/main_subscription";
@import "./blocks/main_straps";
@import "./blocks/footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
